*{
    box-sizing: border-box;
}
.user-info{
    width: 1000px;
    margin: 0 auto 100px;
}
.user_p_info{
    display: flex;
    width: 100%;
    box-shadow: 0 0 7px 2px #d2d2d2;
    padding: 10px;
}

.profile-image,.non_profile_image {
    width: 130px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
}
.non_profile_image{
    background-image: url("../../image/profile.png");
    background-size: 100% 100%;
    display: block;
    height: 100px;
}
.user_p_detail{
    display: flex;
    border-right: 1px solid #d2d2d2;
    margin-right: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: center;
}

.user-intro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0 0 7px 2px #d2d2d2;
    max-height: 550px;
    overflow-y: scroll;
}
.cart-item{
    width: 233px;
    padding: 10px;
    height: 250px;
    border: 1px solid #d2d2d2;
    float: left;
    background: white;
    margin: 5px;
}
.cart-item img{
    width: 100%;
    height: 70%;
}

.cart-list::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: black;
}
.cart-list::-webkit-scrollbar-thumb {
    background-color: #598bf1;
  }
  .cart-list::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
.user-photo{
    width: 100%;
    height:300px;
    background-image: url('../../image/sunset.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto 60px;
    flex-direction: column;
}
.user-photo h2{
    font-size: 1.8rem;
}

.sub-topic{
    text-align: left;
    margin: 50px 0 20px;
    font-size: 1.5rem;
}
.course-list{
    display: flex;
    max-height: 220px;
    flex-wrap: wrap;
    max-height: 360px;
    overflow-y: scroll;
    box-shadow: 0 0 7px 2px #d2d2d2;
    padding: 10px;
}
.c_l{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 5px;
    border: 1px solid #d2d2d2;
    flex-direction: column;
    padding: 5px;
    width: 235px;
    border-radius: 5px;
    text-align: center;
}
.c_l_sub{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.l_regist{
    display: inline-block;
    font-size: 0.8rem;
    background-color: #598bf1;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.c_l_title{
    margin-bottom: 5px;
}
.c_l_regist{
    font-size: 0.8rem;
    color: #808080;
}

.cart-item-title,.cart-item-addr{
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cart-item-addr{
    font-size: 0.8rem;
    color: #808080;
}
.cart-item-info{
    display: flex;
    height: 30%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
.user-info p{
    margin: 5px;
}
.user_p_info button{
    width: 100px;
    height: 30px;
    background-color: #598bf1;
    color: white;
    border: none;
}
@media(max-width:1000px){
    .user-photo{
        margin: 50px auto;
    }
    .user-info{
        width: 100%;
        padding:20px;
    }
    .cart-list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px , 1fr));
        grid-gap: 20px;
        padding-top:20px;
        width: 100%;
    }
    .cart-item img{
        object-fit: cover;
    }
    .cart-item{
        width: 100%;
        margin: 0;
    }
    .profile-image{
        margin: 0 auto;
    }
    .user_p_detail{
        border: none;
        width: 100%;
        padding: 0;
    }
    .user_p_info{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .user_p_info button{
        margin: 10px auto;
    }
    .course-list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px , 1fr));
        grid-gap:20px;
        padding-top:20px;
        width: 100%;
        height: auto;
    }
    .c_l{
        width: 100%;
        margin: 0;
    }
    
}