*{box-sizing: border-box; appearance: none;}
input[type="date"]
{
    background: white;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
}
input{border: none;}
.list{height:50px; text-align: center; border-bottom:1px solid #d2d2d2;padding:10px 0;}
.list:first-child{
    background-color: #f2f2f2;
    border-top: 1px solid #828282;
}
.col{
    height: 100%;
    width:25%;
    line-height: 30px;
    float: left;
}
.list:not(:first-child):hover{
    background-color: #f2f2f2;
}
.list-container{width: 1000px; margin:50px auto; text-align: center;}
.list-con{width: 100%; margin-top:30px}
.c_map_con{
    width: 100%;
    height: 500px;
    float: left;
}
.list-container button{
    padding: 10px;
    background-color: #598bf1;  
    appearance: none;
    border: none;
    color: white;
    margin: 10px;

}
#map{
    width: 100%;
    height: calc(100% - 30px);
}
.c_info_con{
    width: 100%;
    float: left;
    margin-top: 20px;
    text-align: left;
    font-weight: 100;
    padding: 30px 0;
}
.c_info_con>div{
    margin: 0 0 20px 0;
}
.c_s_con{
    width: calc(100% - 30px);
    float: right;
}
.marker-img{
    width: 40px;
    height: 40px;
    float: left;
}

.c_item{
    height:100px;
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.c_s_sub_con h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    color:#808080;

}
.marker-img{
    background-image: url("../../image/marker.png");
    background-size: cover;
    text-align: center;
    padding-top: 3px;
    margin-right: 7px;
    line-height: 27px;
}
.Map-container{
    margin: 0 auto;
    height: 700px;
    text-align: center;
    position: relative;
}
#View{
    width: 1000px;
}
.list-topic{margin:0 auto 10px;font-size: 1.5rem;}  
.list-user{
    font-size: 1rem;
    color: #808080;
    margin:0 auto 10px
}
.course-topic , .course-topic_m{
    margin: 50px auto 20px;
    border-bottom: 1px solid #d2d2d2;
    padding: 10px;
}
.course-topic_m{
    border-top: 1px solid #d2d2d2;
}
.course-topic button {
    padding: 5px;
    color: white;
    background: #598bf1;
    border: none;
    margin: 10px;
}
.select_list{
    overflow: scroll;
    width: 100%;
    height: calc(100% - 50px);
}
.select_con{
    width: 300px;
    height: 600px;
    float: left;
}
.Map-view{
    width: calc(100% - 300px);
    height: calc(100% - 70px);
    float: left;
}

.c_save_form{ 
    width: 300px;
    display: block;
    position: absolute;
    top: 80px;
    right: 310px;
    z-index: 1;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    opacity: 0.8;
}
.course_search_form{
    width: 100%;
    float: left;
    padding: 0 10px;
    text-align: left;
}
.course_search_form input{
    width: calc(100% - 60px);
    padding: 5px;
    height: 30px;
    border: 1px solid #d2d2d2;
}
.course_search_form button{
    width: 50px;
    background-color: #598bf1;
    color: white;
    border: none;
    padding: 5px;
    height: 30px;
}
.c_save_form button {
    width: 50px;
    height: 50px;
    float: right;
    background-color: #598bf1;
    color: white;
    border: none;
    appearance: none;
}
.c_save_form input{
    width: 100%;
    float: left;
    appearance: none;
    height: 50px;
    border: none;
    padding: 5px;
    outline: none;
    appearance: none;
    color: black;
    border: 1px solid #d2d2d2;
}
.select_list::-webkit-scrollbar {
    background-color: white;
    width:7px;
    height: 7px;
}
.select_list::-webkit-scrollbar-thumb{
    background-color: #5c77d1; border-radius: 3px;
}
.course-date{
    padding-right: 20px;
}
#Make{
    width: 100%;
}
.c_info_p_list{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}


.list-topic,.list-user,.course-date{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course-intro{
    width: 100%;
    resize: none;
    height: 100px;
    border-right: none;
    border-left: none;
    padding: 10px;
    outline: none;
}
.c_intro{
    text-align: left;
    margin: 20px 0;
}
.Map-container>div>h4{
    border-left: 5px solid dodgerblue;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
}
.c_intro p{
    padding: 10px;
    background: #fafafa
} 
.select_con .pagination{
    margin-top: 0;
}
@media(max-width:1100px){
    .select_list .pagination{
        margin-top: 0px;
    }
    .select_list{
        padding-bottom: 0;
    }
    .course_search_form{
        width: 100%;
    }
    
    .course_search_form button{
        width: 70px;
    }
    .course_search_form input{
        width: calc(100% - 70px);
    }
    .Map-container{
        height: auto;
        padding: 10px
    }
    .Map-view{
        width: 100%;
        height: 450px;
        display: block;
    }
    .c_save_form{
        right: 10px;
        opacity: 1;
    }
    .select_con{
        width: 100%;
        overflow-x: scroll;
        height: 350px;
        margin-top: 20px;
    }
    .select_list{
        width: 100%;
        height: 250px;
        margin-top: 10px;
        overflow: hidden;
        white-space: nowrap;
        overflow-x: scroll;
        display: flex;
    }
    .Select-Item{
        min-width: 250px;
        white-space: nowrap;
        display: inline-block;
        height: 230px;
    }
    .c_save_form{
        width: 100%;
        position: initial;
        padding: 10px;
        border: none;
        border-radius: 0;
        float: left;
        margin:0px auto;
        margin-bottom: 50px;
    }
    .c_save_form textarea{
        border: 1px solid #d2d2d2;
    }
    .c_save_form input{
        height: 30px;
        width: 100%;
        margin: 5px 0;
        border: 1px solid #d2d2d2;
    }
    .course-intro{
        margin-top: 5px;
    }
    .c_save_form button{
        height: 30px;
    }
}
@media(max-width:700px){
    .c_map_con{
        height: 350px;
    }
}
