.Select-Item{
    width:calc(100% - 20px);
    height: 220px;
    text-align: center;
    font-weight: 100;
    margin: 10px;
    box-shadow: 0 0 7px 2px #d2d2d2;
}
.Select-Item img{
    width:100%;
    height: 70%;
    object-fit: cover;
}

.Select-text-box{
    width:100%;
    height: 30%;
    padding: 10px;
}
.Select-text-box h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-text-box h5{
    font-size: 0.9rem;
    color:#808080;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c_s_con div{
    padding-left:10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100px;
    flex-direction: column;
}
.c_s_con div h4, .c_s_con div p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 
.c_s_con div p{color: #808080;}
.c_s_img{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 5px;
    object-fit: cover;
}
.c_s_con h4{
    float: left;
    font-size: 1.1rem;
}
.c_item:hover{
    box-shadow: 0 0 7px 2px #d2d2d2;
}
@media(max-width:1000px){
    #View{
        width: 95%;
    }
    .c_s_con h4{
        font-size: 0.9rem;
    }
    .c_s_con p{
        font-size: 0.8rem;
    }
}
@media(max-width:800px){
    .c_s_img{
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
    }
    .c_s_con div{
        height: auto;
    }
    .c_s_con{
        width: 100%;
        padding: 5px;
    }
    .c_item{
        height: 220px;
        width: 100%;
        flex-direction: column;
    }
    .c_info_p_list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px , 1fr));
        padding: 0;
    }
    .marker-img{
        float: none;
        display: none;
    }
}