*{ font-family: 'Nanum',sans-serif;box-sizing: border-box; font-weight: 100;}
@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "Nanum";
    src: url("../../asset/BmxsYIvpUqQIXk-9r2f09a43bSY.ttf") format("truetype");
    font-weight: 500;
  }
.Container{
    margin-top: 100px;
}
.main-photo{
    width: 100%;
    height: 350px;
    background-image: url('../../image/seoul.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 60px auto;
    flex-direction: column;
}
.banner{
    width: 100%;
    height: 200px;
    background-image: url("http://youngtour.dothome.co.kr/images/car.jpg");
    background-size: cover;
    background-position: center;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 50px 0 60px;
}
.main-photo h2{
    text-align: center;
    font-size: 2.5rem;
}
.footer{
    width: 100%;
    background: #303740;
    display: flex;
    align-items: center;
    color: white;
    height: 200px;
    justify-content: center;
    margin-top: 70px;
    padding: 20px;
}
.keyword{
    width:600px;
    height: 50px;
    margin: 30px auto;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}
.keyword input{
    width:90%;
    height:100%;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
}
.keyword button{
    width: 10%;
    float: right;
    appearance: none;
    border: none;
    background: none;
    height: 100%;
}
.side-menu{
    width: 600px;
    height: 100%;
    position: fixed;
    background-color: white;
    top:0;
    right: 0;
    z-index: 2;
}
.login-menu{
    width: 100%;
    text-align: center;
    z-index: 2;
}
.login-menu img ,.login-menu .non_profile_image{
    margin: 10px auto;
    float: none;
}
.side-menu ul{
    margin: 50px auto;
    border-bottom: 1px solid #d2d2d2;
    z-index: 2;
}
.side-menu ul li{
    height: 50px;
    line-height: 50px;
    border-top:1px solid #d2d2d2 ;
    padding-left:10px;
}
.login-menu button{
    margin-top: 10px;
}
