*{ font-family: 'Nanum',sans-serif;box-sizing: border-box; outline: none; font-weight: 100;}
@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "Nanum";
    src: url("../../asset/BmxsYIvpUqQIXk-9r2f09a43bSY.ttf") format("truetype");
    font-weight: 100;
  }
  @font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "Bamin";
    src: url("../../asset/BMDOHYEON_ttf.ttf") format("truetype");
    font-weight: bold;
  }
.Container{
    margin-top: 100px;
}
.main-photo{
    width: 100%;
    height: 400px;
    background-image: url('../../image/baegyangsa-6366314_1920.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto 60px;
    flex-direction: column;
    padding-top:30px;
}
.banner{
    width: 100%;
    height: 200px;
    background-image: url("http://youngtour.dothome.co.kr/images/car.jpg");
    background-size: cover;
    background-position: center;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 50px 0 60px;
}
.main-photo h2{
    text-align: center;
    font-size: 2.5rem;
}
.footer{
    width: 100%;
  background-color: #f2f2f2;
    display: flex;
    align-items: center;
    color: gray;
    height: 150px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.footer-logo{
    color: #598bf1;
    padding: 10px;
    font-size: 1.3rem;
}
.keyword{
    width:600px;
    height: 50px;
    margin: 30px auto;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}
.keyword form{
    width: 100%;
    height: 100%;
}
.keyword input{
    width:90%;
    height:100%;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
}
.keyword button{
    width: 10%;
    appearance: none;
    border: none;
    background: none;
    height: 100%;
}

