*{padding:0;list-style:none;}
.Nav-Bar{
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    background-color: white;
    height: 70px;
    overflow: hidden;
    z-index: 2;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
}
.Nav-inner{
    width: 1000px;
    margin: 0 auto;
    height: 50px;
}
.Nav-inner ul{
    float: left;
}
.Nav-Bar li{
    width: 100px;
    padding: 0 10px;
    float: left;
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
}
.Nav-Bar li:hover{
    color: #598bf1;
}
.logo{width:170px;height: 50px; float: left;}
.search-icon{
    display: block;
    width:30px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    border: 1.5px solid black;
    font-size: 15px;
    border-radius: 30px;
    float: right;
    margin-right: 10px;
    text-align: center;
}
.user-icon{
    display: block;
    width:30px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    border: 1.5px solid black;
    font-size: 15px;
    border-radius: 30px;
    float: right;
    margin-right: 10px;
    text-align: center;  
}
.user-icon:hover,.search-icon:hover{
    background-color: black;
    color: white;
}
.search-field{
    position: fixed;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    top:60px;
    border: 1px solid black;
    right:50%;
    margin-right: -490px;
    background-color: white;
    padding: 10px;
}
.search-field div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.search-field input,.search-field button{
    appearance: none;
    height: 100%;
    border: none;
    background: none;
    outline: none;
}
.search-field input{width: 90%;}
.search-field button{width: 10%;float: right;}