.freeboard_con{
    text-align: left;
    padding: 10px;
}
.f_title{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.f_info{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
    color: #505050;
    padding-left: 5px;
}
.f_info span{
    margin-right: 10px;
}
.f_text{
    font-size: 17px;
    padding: 20px 5px;
    border-bottom: 1px solid #d2d2d2;
}
.r_title{
    font-size: 17px;
    border-bottom: 1px solid #d2d2d2;
    background-color: #f2f2f2;
    padding: 10px;
}
.r_form{margin-top: 10px;height: 150px; padding: 10px;background-color: #e8eaee;border: 1px solid #dcdde1;}
.r_form textarea{
    width: 100%;
    height: 80px;
    float: left;
    resize:none;
}
.r_form button{
    width: 100px;
    margin-top: 10px;
    height: 40px;
    float: right;
    margin-right: 0;
}
.repl-list{
    padding: 20px 0 20px 5px;
    border-bottom: 1px solid #d2d2d2;
    color: gray;
    position: relative;
}
.repl-list span{
    margin-right:10px;
}
.r_item_title{
    color: black;
    font-size: 15px;
}
.r_item_content{
    display:block;
    width: 100%;
    margin: 10px 0 0 0;
    color: black;
    font-size: 13px;
}
.r_delete{
    position: absolute;
    top: 20px;
    right: 0;
    font-size:13px;
    background: #d2d2d2;
    color: white;
    width: 20px;
    line-height: 20px;
    margin: 5px;
    text-align: center;
    height: 20px;
}
.r_item_regist{
    font-size: 13px;
}
.f_title_input{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}
.f_content_area{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    resize: none;
    padding: 10px;
}
.f_button{
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

@media(max-width:1110px){

.list-container{
    width: 100%;
    padding: 10px;
}
.list-con{
    width: 95%;
    margin: 20px auto;
}
.col{
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

}
@media(max-width:800px){
    .f_title span{
        font-size: 1rem;
    }
    .f_text{
        font-size: 0.9rem;
    }
    .f_info{
        font-size: 0.9rem;
    }
    .list-container{
        margin : 50px auto;
    }
}
@media(max-width:600px){
    .Map-view{
        height: 300px;
    }
}