.repl-container{
    width: 100%;
    margin:50px auto 10px;
}
.p_r_title{
    width: 100%;
    background-color: #f2f2f2;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    padding: 5px;   
    height: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.p_list_con{
    text-align: left;
    padding: 20px 0;
    border-bottom: 1px solid #d2d2d2;   
}
.p_list_content{
    margin-top: 10px;
    font-size: 13px;
}
.p_list_user{
    font-size: 15px;
    margin-right: 5px;
}
.p_list_regist , .p_list_rate{
    color: #808080;
    font-size: 13px;
}
.p_list_rate{color: gold; margin-left:5px;}
.p_delete{
    color: #808080;
    float: right;
    font-size: 13px;
}
.c_repl_item{
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 5px 20px 5px;
}
.c_r_regist{
    font-size: 0.8rem;
    color: gray;
    margin-left:5px;
}
.c_r_content{
    font-size: 1rem;
    padding:5px 0;
}
.c_r_delete{
    float: right;
    font-size: 0.8rem;
    color: gray;
}

.c_form{
    background-color: #e8eaee;
    height: 100px;
    padding: 10px;
}
.c_form textarea{
    width: 100%;
    height: 50px;
    resize: none;
}
.c_form button{
    display: block;
    float: right;
    width: 50px;
    height: 30px;
}
.rate-con input{
    opacity: 0;
    width: 1px;
}
.rate-con label{
    color:#808080;
}
