.Card-Container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.place-box{
    margin-bottom: 20px;
}
.Area-Container{
    width: 1000px;
    margin: 50px auto;
}
.select-box{
    margin: 0 10px;
    box-shadow:  0 0 7px 2px #e2e2e2;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}
.select-sub-con{
  width: 30%;
  padding: 10px;
  border-right: 1px solid #d2d2d2;
}
.select-sub-con h5{

    font-size: 0.9rem;
}
.select-box select{
    border: none;
    width: 100%;
    height: 30px;
    color: gray;
    font-size: 1rem;
    background: white;
    background-image: url('../../image/select.png');
    background-position-x: right;
    background-position-y: center;
}
.select-box button{
    border: none;
    background-color: #598bf1;
    color: white;
    width:100px;
}
.result-text{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}
.Area-photo{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 40px;
    background-image: url('../../image/airport.jpg');
}
.Area-photo p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top,transparent,rgba(0,0,0,0.5));
    width: 100%;
    flex-direction: column;
}
.loading-page{
    width: 100%;
    height: 500px;
    display: black;
    background-image: url('../../image/loading.png');
    background-size: cover;
}
.pagination{margin-top:30px;text-align: center;}
.pagination a , .pagination button{
    display: inline-block;
    background-color: white;
    font-size: 1rem;
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
}
.pagination a.active, .pagination button.active{
    box-shadow: 0 0 2px 0px #808080;
    color: #598bf1;
}

@media(max-width:1000px){
    .Area-Container{
        width: 95%;
    }
    .Area-photo{
        height: 200px;
    }
    .Area-Container .pagination{
        margin-top: 40px;
    }
   .select-box{
    margin: 0;
   }
    .Area-photo{
        margin-top: 50px;
    }
    .Card-Container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(230px , 1fr));
        grid-gap: 20px;
        padding-top:20px;
        width: 100%;
    }
    .Card-Container .place-box{
        height: 270px;
        width: auto;
        margin: 0;
    }
}

@media(max-width:600px){
    .select-box{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .select-box select{
        width: 100%;
        height: 20px;
        margin-top: 5px;
    }
    .select-sub-con{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #d2d2d2;
    }
    .select-box button{
        height: 50px;
        width: 100%;
    }
    .Area-photo{
        height: 150px;
    }
    .Area-photo p{
        font-size: 2rem;
    }
}