*{margin:0;padding:0; box-sizing: border-box;}
.place-box{
    width:230px;
    height:250px;
    margin: 30px 10px;
    overflow: hidden;
}
.place-box:hover{
    transition: 0.3s;
}
.image-box{
    width:100%;
    overflow: hidden;
    height:75%;
    border-radius: 5px;
}
.image-box img{
    width:100%;
    height:100%;
    object-fit: cover;
    font-weight: normal;
}
.place-box h4{
    font-size: 1.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
    margin-bottom: 3px;
}
.place-box h5{
    font-size: 0.9rem;
    color: #598bf1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
}

.text-box{
    height: 25%;
    padding: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.place-box:hover img{
    transition: 0.3s;
    transform: scale(1.3);

}
